@import 'base';

.Home {
  background-color: $color_background;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;

  @include for-tablet-landscape-up() {
    padding: 0 33vw 0 4rem;
  }

  @include for-desktop-up() {
    padding: 0 33vw 0 4rem;
  }

  @include for-big-desktop-up() {
    padding: 0 25vw 0 4rem;
  }
}
