@import 'base';

.VideoItem {
  margin: 0 auto;
  padding: 1rem 0 8rem;
  text-align: left;
  border-bottom: 1px solid $color_body;
}

.VideoItem__inner {
  max-width: 80rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.VideoItem__name {
  margin: 0 0 2rem;
  display: inline-block;
}

.VideoItem__description {
  margin: 0 0 2rem;

  p {
    margin: 0;
  }
}

.VideoItem__data {
  display: flex;
  flex-wrap: wrap;
}
