@import 'base';

.Header {
  text-align: left;
  text-transform: uppercase;
  padding: 2rem;
  max-width: 80rem;
  margin: 0 auto 10rem;

  h1 {
    margin: 0;
    font-size: $type_size_header;
    display: inline-block;
    border-bottom: 5rem solid $color_body;
  }
}
